.cards {
  width: 300px; 
  height: 210px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(143, 209, 128, 0.689);
  transition: 1s ease-in-out;
  overflow: hidden; /* Para que el contenido no sobresalga de los bordes redondeados */
  position: relative; /* Necesario para la correcta posición de los elementos dentro */
}

.cards img {
  width: 100%;/* Ocupa el 100% del ancho de la tarjeta */
  height: 100%;/* Ocupa el 100% del alto de la tarjeta */
  position: absolute; /* Permite que la imagen esté en el fondo */
  top: 50%; /* Mueve la imagen al centro vertical */
  left: 50%; /* Mueve la imagen al centro horizontal */
  transition: 0.2s ease-in-out;
  transform: translate(-50%, -50%); /* Ajusta la posición para centrar la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
  z-index: 1;
  border-radius: 20px;
}

.textBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.textBox > .text {
  font-weight: bold;
}

.textBox > .head {
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.textBox > span {
  font-size: 12.5px;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.cards:hover > .textBox {
  opacity: 1;
  background-color: rgba(143, 209, 128, 0.689); /* Fondo verde */
}

.cards:hover > .img {
  height: 30%;
  filter: blur(10px);
  animation: anim 1s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.cards:hover {
  transform: scale(1.04) rotate(-1deg);
}
